@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Montserrat&display=swap');

:root {
    --heading-font: 'DM Sans';
    --paragraph-font: 'Montserrat';
}

/*Header*/

#content{
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #ff8552;
    display: grid;
    grid-template-columns: 150px auto;
    text-align: center;
    max-height: 150px;
}

.logo{
    width: 100px;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 35px;
    font-family: var(--heading-font);
}

nav a:hover{
    background-color: #1c5d99 ;
    color: white;
}

/*Footer*/


footer{
    background-color: #ff8552;
    color: white;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: white;
    text-decoration: none;
    padding: 35px;
}


footer p{
    font-size: 1.2em;
    font-family: var(--heading-font);
}
footer p :hover{
    color: white;
    background-color: #1c5d99;
    text-decoration: none;
}
/*Hero Image*/

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

/*Home Title*/

#hero-msg{
    font-size: x-large;
    text-align: center;
    color: #1c5d99;
    grid-column: 2;
    font-family: var(--heading-font);
}

/*Home Page Main Content*/

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-height: 1000px;
}

.container {
    position: relative;
    width: 700px;
    height: 400px;
    grid-column: 2/7;
    grid-row: 8/11;
}

.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 700px;
    height: 400px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.container2 {
    position: relative;
    width: 700px;
    height: 400px;
    grid-column: 9/16;
    grid-row: 8/11;
}

.image2 {
    width: 700px;
    height: 400px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    
}

.middle2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container2:hover .image2 {
    opacity: 0.3;
}

.container2:hover .middle2 {
    opacity: 1;
}

.reasons{
    background-color: #1c5d99;
    max-height: 295px;
    grid-column: 1/17;
    grid-row: 1/2;
    padding: 10px 50px;
}

.reasons p{
    font-size: 2em;
    text-align: center;
    color: white;
    font-family: var(--paragraph-font);
}

.button-box{
    text-align: center;
    background-color: #ff8552;
    max-width: fit-content;
    grid-column: 7/11;
    grid-row: 4/5;
    max-height: 30px;
}

.button-box :hover{
    color: white;
    background-color: #1c5d99;
}
.book {
    color: black;
    max-height: fit-content;
    background-color: #ff8552;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-family: var(--heading-font);
}

.image, .brush-img{
    width: 700px;
    height: 400px;
}

.brush-img{
    grid-column: 10/16;
    grid-row: 8/11;
}

/*Pricing Page Hero Img*/

#hero2 {
    display: grid;
    grid-template-columns: 320px 960px 320px;
    grid-template-rows: 110px 110px 140px;
    margin-top: -100px;
}

#hero-box2{
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
    opacity: 50%;
}

#hero-msg2{
    font-size: xx-large;
    text-align: center;
    color: #1c5d99;
    grid-column: 2;
    font-family: var(--heading-font);
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;
}

/*Pricing Page Main Content*/

.home-grid2{
    display: grid;
    grid-template-rows: 75px 1fr 100px 1fr 300px 300px 1fr 1fr 100px 1fr 1fr;
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
    max-height: 1500px;
    background-color: #1c5d99;
    max-width: 1600px;
}

main {
    color: white;
}

.title {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
    font-family: var(--heading-font);
}

.package1 {
    grid-row: 2/3;
    grid-column: 2/3;
    color: white;
    font-family: var(--paragraph-font);
}

.package1 h2 {
    text-align: center;
    font-family: var(--heading-font);
}

.package2 {
    grid-row: 2/3;
    grid-column: 4/5;
    font-family: var(--paragraph-font);
}

.package2 h2 {
    text-align: center;
    font-family: var(--heading-font);
}

.pricing1 {
    grid-column: 2/5;
    grid-row: 3/4;
    text-align: center;
    margin-top: 30px;
    font-family: var(--paragraph-font);
}

.package3 {
    grid-column: 2/3;
    grid-row: 4/5;
    font-family: var(--paragraph-font);
}

.package3 h2 {
    text-align: center;
    font-family: var(--heading-font);
}

.package4 {
    grid-column: 4/5;
    grid-row: 4/5;
    font-family: var(--paragraph-font);
}

.package4 h2 {
    text-align: center;
    font-family: var(--heading-font);
}

.brushimg {
    grid-column: 1/6;
    grid-row: 5/7;
    max-width: 1600px;
    margin-top: 20px;
}

.alacart {
    grid-row: 9/10;
    grid-column: 3/4;
    text-align: center;
    margin-top: 50px;
    font-family: var(--heading-font);
}

.exterior-alacart {
    grid-row: 10/11;
    grid-column: 2/3;
    margin-bottom: 50px;
    font-family: var(--paragraph-font);
}

.interior-alacart {
    grid-row: 10/11;
    grid-column: 4/5;
    margin-bottom: 50px;
    font-family: var(--paragraph-font);
}

/*Contact us Page Main Content*/

.home-grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 50px 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 1600px;
    max-height: 1800px;
}

.home-grid3 h1 {
    grid-column: 3/6;
    grid-row: 1/2;
    background-color: #1c5d99;
    text-align: center;
    vertical-align: middle;
    font-size: 4em;
    line-height: 110px;
}

.home-grid3 img{
    grid-column: 1/4;
    grid-row: 2/3;
    margin-top: 75px;
    background-color: #1c5d99;

}

.contact-copy{
    background-color: #1c5d99;
    grid-column: 1/4;
    grid-row: 3/4;
    font-size: 2em;
    padding: 100px;
    vertical-align: middle;
    line-height: 75px;
    max-width: 775px;
    font-family: var(--paragraph-font);
}


.contact-right{
    max-width: 775px;
    max-height: 800px;
    grid-row: 3/8;
    grid-column: 5/8;
    background-color: #ff8552;
    margin-top: -200px
}

.question-header{
    grid-row: 2/3;
    grid-column: 5/8;
    font-size: 2em;
    text-align: center;
    font-family: var(--heading-font);
    padding: 50px;
}

.questions{
    font-size:large;
    text-align:left;
    font-family: var(--paragraph-font);
    padding: 50px;
    margin-top: -75px;
}

.contact-info{
    grid-row: 7/8;
    grid-column: 1/8;
    margin-top: 50px;
    background-color: #1c5d99;
    text-align: center;
    font-size: x-large;
    font-family: var(--paragraph-font);
}


/* Contact Us Form*/

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
form li + li {
    margin-top: 1em;
}
  
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}
  
input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
}
  
input:focus, textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}
  
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
}
  
.form-button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
}
  
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}



